.section{
    min-height: 1080px;
    min-width: 100%;
    background-repeat: round;
}

.bg-1{
    background-image: urL(images/bg/1.png);
}

.bg-2{
    background-image: urL(images/bg/2.png);
}

.bg-3{
    background-image: urL(images/bg/3.png);
}

.bg-4{
    background-image: urL(images/bg/4.png);
}

.bg-5{
    background-image: urL(images/bg/5.png);
}

.bg-6{
    background-image: urL(images/bg/6.png);
}

.bg-7{
    background-image: urL(images/bg/7.png);
}


.footer{
    background-color:#959696;
    border-top: 2px solid #ff1616;
}

nav .navbar-nav li a{
    color: #12c25e !important;
}

nav .navbar-nav .active a {
    background-color: #12c25e !important;
    color: #ff1616 !important;
}

.nav-item a:hover {
    background-color: #12c25e !important;
    color: #ff1616 !important;
    cursor: pointer;
}

.navbar{
    background-color: #959696;
    border-bottom: #12c25e 2px solid;
    padding: 0 5px;
}