.section{
    min-height: 1080px;
    min-width: 100%;
    background-repeat: round;
}

.bg-1{
    background-image: urL(images/bg/1.png);
}

.bg-2{
    background-image: urL(images/bg/2.png);
}

.bg-3{
    background-image: urL(images/bg/3.png);
}

.bg-4{
    background-image: urL(images/bg/4.png);
}

.bg-5{
    background-image: urL(images/bg/5.png);
}

.bg-6{
    background-image: urL(images/bg/6.png);
}

.bg-7{
    background-image: urL(images/bg/7.png);
}

.line{
    margin: 0;
    height: 5px;
}

.end-1{
    background-color: #12c25e;
}

.end-2{
    background-color: #fff500;
}

.end-3{
    background-color: #12c25e;
}

.end-4{
    background-color: #5e17eb;
}

.end-5{
    background-color: #545454;
}

.end-6{
    background-color: #ff1616;
}

.footer{
    background-color:#888989;
    border-top: 5px solid #12c25e;
}

nav .navbar-nav li a{
    color: #12c25e !important;
}

nav .navbar-nav .active a {
    background-color: #12c25e !important;
    color: #ff1616 !important;
}

.nav-item a:hover {
    background-color: #12c25e !important;
    color: #ff1616 !important;
    cursor: pointer;
}

.navbar{
    background-color: #888989;
    border-bottom: #ff1616 2px solid;
    padding: 0 5px;
}

.brand{
    border-radius: 50%;
}
.card{
    background-color: #888989;
}

.news-card{
    border: 2px solid #12c25e;
    box-shadow: 5px 5px 20px 0px #ff1616;
}

.omega-card{
    border: 2px solid white;
    box-shadow: 5px 5px 20px 0px #fff500;
}

.one-year-later-card{
    border: 2px solid #12c25e;
    box-shadow: 5px 5px 20px 0px #ff1616;
}

.fraction1-card{
    border: 2px solid #ff1616;
    box-shadow: 5px 5px 20px 0px #5e17eb;
}

.fraction2-card{
    border: 2px solid #545454;
    box-shadow: 5px 5px 20px 0px white;
}

.fraction3-card{
    border: 2px solid #3b3b3b;
    box-shadow: 5px 5px 20px 0px #ff1616;
}

.own-fraction-card{
    border: 2px solid #ff1616;
    box-shadow: 5px 5px 20px 0px #12c25e;
}

.col-md-12,
.col-md-1,
.col-md-5{
    padding: 0 !important;
}
